In [30]:
import pandas as pd

df = pd.DataFrame([[1,2,3,4],[5,6,7,8]], columns = ["column1", "column2", "column3", "column4"], index = [1,2])
df.loc[3] = [10,11,12,13]
df.loc[3,"column3"] = 666
df.iloc [1,3] = 777
df = df.rename(columns = {"column1":"Spalte555", "column4":"Spalaus" })

In [31]:
df.head()

   Spalte555  column2  column3  Spalaus
1          1        2        3        4
2          5        6        7      777
3         10       11      666       13

In [52]:
import pyxlsb as xl

df_art = pd.read_excel("artikel.xlsb", engine = "pyxlsb")

In [53]:
df_art.columns

Index(['ARTIKELNR', 'ZEICHNUNG', 'BEZEICHNUNG_1', 'BEZEICHNUNG_2',
       'WARENGRUPPE', 'HAUPTLIEFERANT', 'ARTIKELKLASSE', 'BESTAND',
       'DISP_BEST', 'ABW_FAKTOR', 'ZUSATZTEXT', 'MERKMALE', 'TEXTE',
       'Unnamed: 13', 'Unnamed: 14'],
      dtype='object')

In [54]:
df_art = df_art.drop(["ZEICHNUNG"], axis = 1)

In [55]:
df_art.columns

Index(['ARTIKELNR', 'BEZEICHNUNG_1', 'BEZEICHNUNG_2', 'WARENGRUPPE',
       'HAUPTLIEFERANT', 'ARTIKELKLASSE', 'BESTAND', 'DISP_BEST', 'ABW_FAKTOR',
       'ZUSATZTEXT', 'MERKMALE', 'TEXTE', 'Unnamed: 13', 'Unnamed: 14'],
      dtype='object')

In [65]:
display (df_art["WARENGRUPPE"])
display (df_art["WARENGRUPPE"].nunique())

0              0101 Blechzuschnitte
1         8005 BAUGR.:VERBLOCKUNGEN
2                               NaN
3                               NaN
4            5273 DECKEL-VERDICHTER
                    ...
241166          5285 VENTILE  (S+D)
241167          5285 VENTILE  (S+D)
241168          5285 VENTILE  (S+D)
241169    4322 RÜCKSCHLAGVENTIL+TEI
241170                          NaN
Name: WARENGRUPPE, Length: 241171, dtype: object

364

In [67]:
df_art["WARENGRUPPE"].str.extract((r'(\d+)\s*(.*)'))

           0                     1
0       0101       Blechzuschnitte
1       8005  BAUGR.:VERBLOCKUNGEN
2        NaN                   NaN
3        NaN                   NaN
4       5273     DECKEL-VERDICHTER
...      ...                   ...
241166  5285        VENTILE  (S+D)
241167  5285        VENTILE  (S+D)
241168  5285        VENTILE  (S+D)
241169  4322  RÜCKSCHLAGVENTIL+TEI
241170   NaN                   NaN

[241171 rows x 2 columns]